@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

body {
    padding: 0;
    margin: 0;
    height: 100vh;
    background-image: url("background.png");
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 550px;
    width: 350px;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: minmax(120px, auto) repeat(5, 80px);
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: 10px;
}

.calculator-grid > button {
    cursor: pointer;
    font-size: 1.5rem;
    outline: none;
    bbackdrop-filter: blur(10px) saturate(170%);
    -webkit-backdrop-filter: blur(10px) saturate(170%);
    background-color: rgba(84, 108, 149, 0.5);
    border-radius: 10px;
    color: white;
    border: none;
    margin: 3px;
}

.calculator-grid > button:hover {
    border: 2px solid dodgerblue;
}

.calculator-grid > button:active {
    bbbackdrop-filter: blur(10px) saturate(170%);
    -webkit-backdrop-filter: blur(10px) saturate(170%);
    background-color: rgba(48, 67, 94, 0.5);
}

.span-two {
    grid-column: span 2;
}

.output {
    grid-column: 1 / -1;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-operand {
    color: rgba(255 ,255, 255, 0.75);
    font-size: 1.5rem;
}

.output .current-operand {
    color: white;
    font-size: 2.5rem;
}

